<div class="info-text">
  {% load static %}

  <div class="background-img">
    <img src="{% static 'core/delivery.png' %}" alt="Delivery">
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora in dolores suscipit aspernatur rem voluptatibus quibusdam doloremque nostrum quod at, dolore recusandae quia? Inventore accusamus perferendis officiis minus iure.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora in dolores suscipit aspernatur rem voluptatibus quibusdam doloremque nostrum quod at, dolore recusandae quia? Inventore accusamus perferendis officiis minus iure.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora in dolores suscipit aspernatur rem voluptatibus quibusdam doloremque nostrum quod at, dolore recusandae quia? Inventore accusamus perferendis officiis minus iure.</p>
</div>
