{% extends "base.html" %}
{% block title %}
  Shopping cart
{% endblock %}
{% block content %}
Hey, I am a shopping cart page.
<div>
  {% if contents %}
   <ul>
      {% for item in contents %}
      <li>
        {{ item.name }}
        <form action="{% url 'orders:orders_update_cart' item.id %}" method="post">
          {% csrf_token %}
          <label for="amount">Amount:</label>
          <input id="amount" type="number" name="amount" value="{{ item.amount }}">
          <input type="submit" value="Confirm">
        </form>
        x {{ item.price }} = {{ item.cost }}
        <form action="{% url 'orders:remove_item' item.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Remove">
        </form>
      </li>
      {% endfor %}
  </ul>
  <div id="food_cost">
    Food cost: {{ request.session.cart_cost }}
  </div>
  {% else %}
    <p>Your shopping cart is empty.</p>
  {% endif %}
</div>
<a href="{% url 'orders:checkout' %}">
  <button>Checkout</button>
</a>
{% endblock %}
