Hey, I am a shopping cart page.
<div>
  {% if contents %}
   <ul>
      {% for item in contents %}
      <li>
        {{ item.name }}
        <form action="{% url 'orders:orders_update_cart' item.id %}" method="post">
          {% csrf_token %}
          <label for="amount"> {{ item.price }} x </label>
          <input id="amount" type="number" name="amount" value="{{ item.amount }}">
          <input type="submit" value="Confirm">
        </form>
        = {{ item.cost }}
      </li>
      {% endfor %}
  </ul>
  <div>
    Food cost: {{ request.session.cart_cost }}
  </div>
  {% else %}
    <p>Your shopping cart is empty.</p>
  {% endif %}
</div>
<a href="{% url 'orders:checkout' %}">
  <button>To Checkout</button>
</a>
