{% extends "base.html" %}
{% block title %}
  Shopping cart
{% endblock %}
{% block head %}
  {% load static %}
  <script type="text/javascript" src="{% static 'menu/menu_script.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'orders/orders_script.js' %}" defer></script>
  <script type="text/javascript">
    const update_cart_url = "{% url 'menu:update_cart' %}"
  </script>
  <link rel="stylesheet" href="{% static 'orders/shopping_cart_style.css' %}">
{% endblock %}
{% block content %}
<div id="table-container">
  {% if contents %}
   <table id="shopping-cart-table">
     <tbody>
      {% for item in contents %}
      <tr class="menu-item">
          <td class="item-name">
            {{ item.name }}
          </td>
          <td class="item-price">
            {{ item.price }}
          </td>
          <td class="change-amount decrease" data-action="decrease"></td>
          <td class="current-amount" data-item_id="{{ item.id }}">
            {{ item.amount }}
          </td>
          <td class="change-amount increase" data-action="increase"></td>
          <td class="item-cost">
            {{ item.cost }}
          </td>
          <td class="change-amount" data-action="remove">
            <img src="{% static 'menu/trash.png' %}" alt="Remove" class="icons">
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <a href="{% url 'orders:checkout' %}">
            Checkout
          </a>
        </td>
        <td colspan="3">Total:</td>
        <td id="food-cost">{{ request.session.cart_cost }}</td>
      </tr>
    </tfoot>
  </table>
  <div
  </div>
  {% else %}
    <p>Your shopping cart is empty.</p>
  {% endif %}
</div>
{% endblock %}
