{% extends "base.html" %}
{% block title %}
  {{ object.name }}
{% endblock %}
{% block content %}
<div id="item_name">{{ object.name }}</div>
<div id="item_price"> Costs {{ object.price }}</div>
<form action="{% url 'menu:update_cart' object.id %}" method="post">
    {% csrf_token %}
    {# very placeholder-ish #}
    {# TODO throw a warning if user didn't update value and submitted #}
    <label for="amount">Amount: </label>
    <input id="amount" type="number" name="amount" value="{{current_amount}}">
    <input type="submit" value="Confirm">
</form>
{% endblock %}
