{% extends "base.html" %}
{% block title %}
{{ menuitem.name }}
{% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'menu/menu_detail_style.css' %}">
<script type="text/javascript" src="{% static 'menu/menu_script.js' %}" defer></script>
<script type="text/javascript">
  const update_cart_url = "{% url 'menu:update_cart' %}"
</script>
{% endblock %}
{% block content %}
{% load cart_lookup %}
<div class="menu-item">
  <div class="left-column">
    <div class="menu-item-image">
      <img src="{{ menuitem.image.url }}" alt="{{ menuitem.name }}">
    </div>
  </div>
  <div class="right-column">
    <div class="menu-item-info">
      <span class="menu-item-name">{{ menuitem.name }}</span>
      <span class="menu-item-price">{{ menuitem.price }}</span>
    </div>
    <div class="item-amount">
        <div class="change-amount" data-action="decrease"></div>
        <div class="current-amount" data-item_id="{{ menuitem.id }}">
          <span>{{ request.session|get_cart_item:menuitem.id }}</span>
        </div>
        <div class="change-amount" data-action="increase"></div>
    </div>
    <div class="item-description">
      <span>Description goes here.</span>
    </div>
  </div>
</div>
{% endblock %}
