{% extends "base.html" %}
{% block title %}
Menu
{% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'menu/menu_list_style.css' %}">
<script type="text/javascript" src="{% static 'menu/menu_script.js' %}" defer></script>
<script type="text/javascript">
  const update_cart_url = "{% url 'menu:update_cart' %}"
</script>
{% endblock %}
{% block content %}
<ul id="menu-items-list">
  {% load cart_lookup %}
  {% for menuitem in menuitem_list %}
  <li>
    <div class="menu-item">
      <div class="menu-item-card">
        <a href="{% url 'menu:detail' menuitem.id %}">
          <div class="menu-item-image">
            <img src="{{ menuitem.image.url }}" alt="{{ menuitem.name }}">
          </div>
          <div class="menu-item-info">
            <span class="menu-item-name">{{ menuitem.name }}</span>
            <span class="menu-item-price">{{ menuitem.price }}</span>
          </div>
        </a>
      </div>
      <div class="item-amount">
        <div class="change-amount" data-action="remove">
          <img src="{% static 'menu/trash.png' %}" alt="Remove" class="icons">
        </div>
        <div class="change-amount" data-action="decrease"></div>
        <div class="current-amount" data-item_id="{{ menuitem.id }}">
          <span>{{ request.session|get_cart_item:menuitem.id }}</span>
        </div>
        <div class="change-amount" data-action="increase"></div>
      </div>
    </div>
  </li>
  {% empty %}
  <li>No items in menu :(</li>
  {% endfor %}
</ul>
{% endblock %}
