{% extends "base.html" %}
{% block title %}
Specials
{% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'menu/specials_style.css' %}">
{% endblock %}
{% block content %}
<ul id="menu-specials-list">
  {% for menuspecial in menuspecial_list %}
  <li>
    <div class="menu-special">
      <div class="menu-special-image">
        <img src="{{ menuspecial.image.url }}" alt="{{ menuspecial.name }}">
      </div>
      <div class="menu-special-name">
        {{menuspecial.name}}
      </div>
    </div>
  </li>
  {% empty %}
  <li>No specials available right now</li>
  {% endfor %}
</ul>
{% endblock %}
