#color-palette {
  width: 250px;
  height: 50px;

  border: 5px solid rgba(34, 29, 35, 1);
}

#color-palette div {
  float: left;

  width: 20%;
  height: 100%;
}

#color-palette div:nth-child(1) {
  background-color: rgba(187, 190, 100, 1);
}

#color-palette div:nth-child(2) {
  background-color: rgba(142, 85, 114, 1);
}

#color-palette div:nth-child(3) {
  background-color: rgba(242, 247, 242, 1);
}

#color-palette div:nth-child(4) {
  background-color: rgba(34, 29, 35, 1);
}

#color-palette div:nth-child(5) {
  background-color: rgba(228, 87, 46, 1);
}

/* Actual CSS here */
body {
  margin: 0;

  color: rgba(34, 29, 35, 1);
  background-color: rgba(242, 247, 242, 1);

  font-family: Verdana, Geneva, sans-serif;
}

#main-bar {
  display: flex;

  height: 80px;

  border-bottom: 2px solid rgba(228, 87, 46, 1);
  background-color: rgba(242, 247, 242, 1);
}

#main-bar div {
  display: flex;
}

#main-bar div ul {
  display: flex;
  flex: 1;

  margin: 0;

  list-style: none;
}

#main-bar a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-transform: uppercase;
}

#main-bar a:link {
  text-decoration: none;

  color: rgba(34, 29, 35, 1);
}

#main-bar a:visited {
  color: rgba(34, 29, 35, 1);
}

#main-bar a:hover {
  color: rgba(242, 247, 242, 1);
  background-color: rgba(228, 87, 46, 1);
}

#main-bar a:active {
  color: rgba(242, 247, 242, 1);
  background-color: rgba(228, 87, 46, 1);
}

#main-bar li {
  flex: 1;

  padding: 10px;

  text-align: center;
}

#main-sections {
  flex: 2;

  margin-left: 8%;
}

#user-sections {
  flex: 1;

  margin-right: 5%;

  background-color: rgba(142, 85, 114, 1);
}

#user-sections a:link {
  color: rgba(242, 247, 242, 1);
}

#user-sections a:visited {
  color: rgba(242, 247, 242, 1);
}

.icons {
  width: auto;
  height: 48px;
}

/* Common content rules */
main {
  margin: 50px;
}

.change-amount[data-action='decrease']::before {
  content: '-';
}

.change-amount[data-action='increase']::before {
  content: '+';
}

.info-text {
  width: 80%;
  margin: auto;
}

.background-img {
  float: right;

  width: 40%;
}

.background-img img {
  width: 100%;
  height: auto;
}
