:root {
  --olive: rgba(170, 173, 91, 1);
  --purple: rgba(142, 85, 114, 1);
  --white: rgba(242, 247, 242, 1);
  --black: rgba(34, 29, 35, 1);
  --orange: rgba(228, 87, 46, 1);
}

body {
  margin: 0;

  color: var(--black);
  background-color: var(--white);

  font-family: Verdana, Geneva, sans-serif;
}

header {
  position: fixed;
  z-index: 3;
  top: 0px;

  width: 100%;
}

#main-bar {
  display: flex;

  height: 80px;

  border-bottom: 2px solid var(--orange);
  background-color: var(--white);
}

#main-bar .active {
  background-color: var(--olive);
}

#main-bar ul {
  display: flex;
  flex: 1;

  margin: 0;

  list-style: none;
}

#main-bar a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  text-transform: uppercase;
}

#main-bar a:link {
  text-decoration: none;

  color: var(--black);
}

#main-bar a:visited {
  color: var(--black);
}

#main-bar a:hover {
  color: var(--white);
  background-color: var(--orange);
}

#main-bar a:active {
  color: var(--white);
  background-color: var(--orange);
}

#main-bar li {
  flex: 1;

  text-align: center;
}

#user-section {
  display: flex;

  margin-right: 5%;

  background-color: var(--purple);
}

#user-section div {
  flex: 1;
}

#user-section a:link {
  color: var(--white);
}

#user-section a:visited {
  color: var(--white);
}

#cart-cost {
  margin-left: 1rem;

  font-size: 2rem;
}

.icons {
  width: auto;
  height: 48px;
}

/* Common content rules */
main {
  margin: 120px 50px;
}

.decrease::before {
  content: '-';
}

.increase::before {
  content: '+';
}

.info-text {
  width: 80%;
  margin: auto;
}

.background-img {
  float: right;

  width: 40%;
}

.background-img img {
  width: 100%;
  height: auto;
}
