<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %}
    Welcome!
    {% endblock %}
  </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'core/style.css' %}">
  {# TODO for development only #}
  <!-- <script type="text/javascript" src="{% static 'core/live.js' %}" defer></script> -->
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <nav id="main-bar">
      <ul>
        <li>
          <a href="{% url 'core:index' %}">
            <img src="{% static 'core/koala.png' %}" alt="Home" class="icons">
          </a>
        </li>
        {% for view in navbar_views %}
        <li
        {% if view.url == request.path %}
        class="active"
        {% endif %}
        >
          <a href="{{ view.url }}">
            <span>{{ view.title }}</span>
          </a>
        </li>
        {% endfor %}
        <li id="user-section">
          <div id="cart">
            <a href="{% url 'orders:shopping_cart' %}">
              <img src="{% static 'core/cart.png' %}" alt="Shopping cart" class="icons">
              <span id="cart-cost">{{ request.session.cart_cost|default:"0" }}</span>
            </a>
          </div>
          <div id="profile">
            <a href="{% url 'accounts:profile' %}">
              <img src="{% static 'core/profile.png' %}" alt="Profile" class="icons">
            </a>
          </div>
        </li>
      </ul>
    </nav>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
        <span>{{ message }}</span>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <div>Copyright whatever</div>
  </footer>
</body>

</html>
