<head>
  <title>
    {% block title %}
    Welcome!
    {% endblock %}
  </title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <nav id="main-bar">
      <div id="main-sections">
        <a href="{% url 'index' %}">Home page(TODO logo)</a>
        <a href="{% url 'menu:specials' %}">Specials</a>
        <a href="{% url 'menu:menu' %}">Menu</a>
        <a href="{% url 'delivery' %}">Delivery Info</a>
        <a href="{% url 'info' %}">Company Info</a>
        <a href="{% url 'contacts' %}">Contacts</a>
      </div>
      <div id="user-sections">
        <div id="cart">
          <a href="{% url 'orders:shopping_cart' %}">
            <span>Shopping Cart</span>
            <span id="cart-cost">{{ request.session.cart_cost|default:"0" }}</span>
          </a>
        </div>
        <div id="profile">
          <a href="{% url 'accounts:profile' %}">Profile</a>
        </div>
      </div>
    </nav>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <div>Copyright whatever</div>
  </footer>
</body>
